body{
  background: linear-gradient(to right, #eeccba, #C5DDE8);
}
#TodoList {
  margin: auto;
  width: 50%;
  background-color: #eeccba;
}

#Item {
  position: relative;
  border-radius: 20px;
  background-color:#ebb598;
  margin: 5px;
}

.item-content {
  margin: 5px 15px 0 15px;
  display: inline-block;
  width: calc(100% - 125px);
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.fade {
  transition: opacity .15s linear;
}

.modal-content {
  background: linear-gradient(to right, #eeccba, #C5DDE8);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  align-content: center;
}

.open-modal {
  display: block !important;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.input {
  position: relative;
  display: inline-block;
  width: 210px;
}

.control-group {
  margin: 5px;
}

#dlgEdit {
  width: 50%;
  margin: 30px 25% 0 25%;
}

.modal-background {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.button-sm {
  border: none;
  color: white;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 15px;
  cursor: pointer;
}

.button-green {
  background-color: #4CAF50;
}

.button-green:hover {
  background-color: #379a3a;
}

.button-red {
  background-color: rgb(246, 87, 87);
}

.button-red:hover {
  background-color: rgb(214, 73, 73);
}

.button-grey {
  background-color: rgb(156, 156, 156);
}

.button-grey:hover {
  background-color: rgb(132, 132, 132);
}


.item-buttons {
  display: inline-block;
  max-width: 92px;
  float: right;
  position: absolute;
  bottom: 4px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.modal-footer {
  margin: 10px
}

.filter {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.filter-select {
  border-radius: 10px;
  background-color: #eeccba;
  width: 100px;
  height: 36px;
}

.pad-left {
  margin-left: 5px;
}

.pad-top {
  margin-top: 5px;
}
